footer{
	height: 60px;
	background-color:#111112;
}
@media screen and (min-width: 1080px){	
	.fixed-width{
		width: 1080px;
		margin: auto;
	}
	footer{
		height: 80px !important;
	}
	footer .icon{
		float: left;
	}
	footer .icon a{
		display: block;
		/*border-radius: 50%;*/
		width: 50px;
		height: 50px;
		line-height: 60px;
		text-align: center;
		color: #ddd;
		float: left;
		/*background-color: #110;*/
		margin-top: 15px;
	}
	footer .copy{
		float: right;
		line-height: 80px;
		text-align: right;
		font-size: 1px;
		color: #ddd;
		font-size: 20px;
	}
}
@media screen and (max-width: 1079px) and (min-width:561px){	
	.fixed-width{
		width: 100%;
	}
	footer{
		color:#fff;	
		height: 60px;
	}
	footer .icon{
		float: left;
		padding-left: 10px;
	}
	footer .icon a{
		display: block;
		/*border-radius: 50%;*/
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #ddd;
		float: left;
		/*background-color: #ddd;*/
	}
	footer .copy{
		float: right;
		margin-top: 15px;
		text-align: right;
		font-size: 10px;
		color: #ddd;
		font-size: 16px;
		padding-right: 10px;
		line-height: 30px;
	}
}
@media screen and (max-width: 560px){	
	.fixed-width{
		width: 100%;
	}
	footer{
	}
	footer .icon{
		text-align: center;
	}
	footer .icon a{
		/*display: block;*/
		width: 60px;
		height: 60px;
		margin: auto;
		color: #ddd;
		line-height: 60px;
		text-align: center;
		padding: 0 10px;
	}
	footer .copy{
		display: none;
	}
}